# Copyright (C) Dmytro Stechenko
# License: http://www.gnu.org/licenses/gpl.html
---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
---
Language: Cpp